<div class="ui visible inverted labeled icon left inline vertical sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Bar Chart
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Line Chart
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Area Chart
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    Chart Type 4
  </a>
</div>
<div class="" style="margin: 50px; margin-left:150px;">
  <div class="ui basic segment">
    <div style="">
      <div class="grid-stack">

        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">
          <div class="grid-stack-item-content"></div>
        </div>

        <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="4">
          <div class="grid-stack-item-content"></div>
        </div>

      </div>
    </div>


  </div>
</div>